<ul class="pd-list">
  {% assign sorted_pd = (site.data.program-directors | sort: 'last_name') %}
  {% for director in sorted_pd %}

  <a name="{{ director.name }}"></a>

  <li class="pd-bio-content">

    {% if director.photo %}
    <img src="{{ site.baseurl }}/assets/img/pd/{{ director.photo }}" alt="{{ director.name }}">
    {% endif %}
    {% if director.bio %}
      <p class="bio">
        <strong><a href="mailto:{{ director.email }}">{{ director.name }}</a></strong> {{ director.bio }}
      </p>
    {% endif %}

  </li>
{% endfor %}
  <li>
   <img src="{{ site.baseurl }}/assets/img/pd/Ruth-compressed.jpg" alt="Ruth Shuman"> 
    <p class="bio">
        <strong>Ruth Shuman</strong> joined the National Science Foundation in August 2009 as a SBIR/STTR Program Director. Before coming to NSF, she was the founder, president, and CEO of a successful venture-backed life science company, Gentra Systems, Inc., that developed, manufactured, and sold products for genetic testing and research to clinical and research laboratories worldwide. Following Gentra’s acquisition, she held various consulting/advisory positions with startup companies, and was CEO-In-Residence for Life Science with the University of Minnesota’s Venture Center evaluating the business potential of University-developed technology. She began her career as a faculty member at North Carolina State University and was a pioneer in the development of gene transfer and genetic engineering technology. Ruth holds a Ph.D. from the University of Minnesota in the area of Genetics and Cell Biology.
      </p>
  </li>
</ul>
