.awards-history-container {
  display: none;

  .awards-history-year-filters {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5rem;
    padding-left: 0;
    padding-right: 0;

    li {
      margin: 0;
      line-height: unset;

      &+ li {
        margin-left: 1.5em;
      }
    }

    button {
      border: 0;
      color: #212121;
      font-weight: 500;
      background: transparent;
      padding: 0;
      margin: 0;
      min-width: auto;
      border-bottom: 1px dotted #027;

      &:focus {
        box-shadow: none;
      }
    }

    .active {
      font-size: 1.75em;
      color: #323A45;
      border: none;
      font-weight: bold;
      position: relative;
      top: -0.1rem;
    }
  }

  .awards-history-grid-container {
    position: relative;

    .clear-filters-btn {
      padding: 0;
      border: 0;
      border-bottom: 1px dotted black;
      background: none;
      min-width: unset;

      &:hover {
        background: none;
        font-weight: bold;
      }
    }
  
    .awards-history-grid-filters {
      float: left;
      margin-top: 0;
      position: sticky;
      top: 0;
  
      [type=checkbox]+label {
        margin: 0;
      }

      h3:first-of-type {
        margin-bottom: 0;
      }
  
      h4 {
        font-size: 0.9em;
        margin: 1em 1em 0.5em 0;
      }
      
      .filter {
        font-size: .8em;
        margin: 1em 1em 1em 0;
      }
  
      .state-list {
        height: 20em;
        overflow-x: hidden;
        overflow-y: scroll;
        border: 1px solid #AEB0B5;
        position: relative;
        background: white;
  
        .filter {
          margin: 1em;
        }
  
        [type=checkbox] {
          margin: 0;
        }
      }
  
      [type=checkbox]+label::before,
      [type=radio]+label::before {
        height: 1.6rem;
        line-height: 1.6rem;
        width: 1.6rem;
      }
    }

    .awards-history-grid-view {
      display: none;
      position: absolute;
      top: 3.25rem;
      right: 0;
      z-index: 10;
    }

    .dataTables_wrapper {
      clear: right;
      margin-left: 7em;

      .dataTables_length {
        margin-top: 1.2em;
        margin-left: 2em;
  
        label {
          margin-top: 0;
        }
  
        select {
          display: inline-block;
          width: 4em;
          font-size: 1em;
          background-size: 1rem;
          background-position: right 0.7rem center;
          background-color: white;
          padding: 0 5px;
          height: 3.6rem;
        }
      }
  
      .dataTables_filter {
        float: left;
        text-align: left;
        margin-bottom: 1em;

        label {
          margin-top: 0.25em;
          font-weight: bold;
          font-size: 0.9em;
          letter-spacing: -0.05em;
        }
  
        input {
          margin-left: 0;
          height: 2.3rem;
          background: white;
          font-weight: normal;
        }
      }

      .dt-buttons, .dl-csv {
        float: right;
        margin-top: .8em;

        button {
          min-width: unset;

          &:hover {
            color: black;
            background: #FFE61A;
          }
        }
      }

      .dataTable {
        clear: right;

        thead {
          tr {
            th:nth-child(6),
            th:nth-child(7),
            th:nth-child(8),
            th:nth-child(9) {
              display: none;
            }
          }
        }

        tbody {
          tr {
            td:nth-child(6),
            td:nth-child(7),
            td:nth-child(8),
            td:nth-child(9) {
              display: none;
            }
          }
        }
      }

      .dataTables_info {
        clear: right;
      }
    }
  }
}
