.award-details {
  background: #e1f4f9;

  .results-company-title {
    margin-top: 0;
    margin-bottom: $space-xs;
  }

  .mb5 {
    margin-bottom: 4rem;

    p {
      margin-bottom: 0.5rem;
    }
  }

  .award {
    + .award {
      .usa-section {
        padding-top: 0;
      }
    }

    &:last-of-type {
      .usa-section {
        padding-bottom: 0;
      }
    }
  }

  .award-listing {
    border-bottom: 1px solid $color-primary-alt-light;
    padding-bottom: $space-xl;
  }

  .pitchbook-logo {
    position: relative;
    top: 0.5rem;
    width: 120px;
  }

  .pitch-book-data {
    margin-top: 2em;
  }

  .pitchbook {
    color:#323A45;
    font-size:1.3rem;
  }

  .pitchbook-source {
    text-align:right;
    font-size:1.4rem;
  }

  .pitchbook strong {
    font-size: 1.6rem;
    display: inline-block;
    margin-bottom: 0.25rem;
  }

  .pitchbook-disclaimer {
    font-size:1.2rem;
  }

  .details-program-director {
    ul {
      margin: 0;
      padding: 0;

      li {
        margin: 0 0 .2rem 1.75rem;
      }
    }
  }
}
