.dataTable-seedfund {
  .dataTables_wrapper {
    table.dataTable {
      border-collapse: collapse;
      margin-top: 1em;
    
      thead {
        // border-bottom: 1px solid #AEB0B5;

        .sorting {
          background-image: url('../img/sort_both.png') !important;
        }

        .sorting_asc {
          background-image: url('../img/sort_asc.png') !important;
        }

        .sorting_desc {
          background-image: url('../img/sort_desc.png') !important;
        }

        tr {
          th {
            border: 0;
            border-bottom: 1px solid #777;
            padding: 8px 20px 8px 8px;
            background-color: transparent;
            white-space: nowrap;
            font-weight: 500;
          }

          th:focus,
          th.sorting_asc,
          th.sorting_desc {
            outline: none;
            // border: 1px solid navy;
            border: 1px solid #777;
            border-bottom: none;
            color: #333;
            font-weight: bold;
          }
        }
      }

      tbody {
        tr {
          border-bottom: 1px solid #AEB0B5;

          &.odd, &.even {
            background-color: transparent;

            td, td[class^="sorting_"] {
              background-color: transparent;
              border: 0;
            }
          }
        }
      }
    }

    .dataTables_paginate .paginate_button {
      padding: 0.5em;

      &.current,
      &.current:hover {
        background: none;
        border: none;
        font-weight: bold;
      }
    }
  }
}
