.tippy-box[data-theme~='seedfund'] {
  background-color: white;
  color: $color-gray-dark;
  border: 1px solid $color-gray-dark;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  padding-left: 0.7em;
  padding-right: 0.7em;
  max-width: unset !important;

  .close-tooltip {
    float: right;
  }

  ul {
    clear: both;
    padding-left: 0;
    margin-left: 1.2em;
    margin-bottom: 1rem;

    li {
      margin: 0;
    }

    ul {
      margin: 0 0 0 1.2em;
    }
  }

  .tippy-arrow {
    left: -1px;
  }

  .close-tooltip {
    font-size: 1.5em;
    border: 0;
    padding: 0;
    min-width: 0;
    margin: 0.5em 0 0;
    cursor: pointer;
    background: none;
  }
}
