@import url('https://fonts.cdnfonts.com/css/gotham');
  #main-content.main-content-headroom {
    margin-top: 0 !important;
  }
  .main-content-headroom .usa-layout-docs-main_content {
    margin-top: 85px !important;
  }
  .linkless .usa-layout-docs-main_content {
    margin-bottom: inherit;
  }
  .linkless .usa-header{
    background-color: #123360;
  }
  .linkless .usa-navbar {
    padding-top:1rem;
  }
  .usa-nav-container {
    height: 60px;
  }
  .linkless .usa-header-basic .usa-logo {
      bottom: inherit;
      position: absolute;
  }
  .linkless .usa-footer-secondary_section {
    background-color: #123360;
  }
  .linkless .usa-footer-secondary_section a {
    color: #FFF;
    border-bottom: 1px dotted #FFF;
  }
  .linkless .usa-footer-secondary_section p {
    color: #FFF;
  }
  .linkless .usa-footer-secondary_section h2 {
    color: #FFF;
  }
  .linkless .usa-footer-secondary_section h3 {
    color: #FFF;
  }
  .linkless .usa-footer-nav .usa-footer-primary-link {
    color: #FFF;
  }
.slider {
  max-width: 1440px;
  margin: auto;
  font-family: 'Gotham', sans-serif;
  font-size: smaller;
}

.slider * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.usa-content .slider li {
  max-width: inherit;
}

.slider html, .slider body {
  height: 100%;
  margin: 0;
}

.slider body {
  background: #1C1F2B;
  color: #fff;
  font-family: "Gotham", sans-serif;
}

.slider h3 {
  font-size: 7vw;
}
.slider h4 {
  letter-spacing: 1.5px;
  font-size:medium;
  text-align: left;
  padding-left:20px;
  padding-right:20px;
}

.slider .innerScroll {
  background-size: contain;
}
.slider .image-margin {
    padding-top: 23vw;
    padding-bottom: 5vw;
    padding-left: 20px;
}

.slider .hollow-button{
  padding: 10px;
  background: none;
  color:#123360;
  cursor: pointer;
  margin:10px;
  border: 2px solid #123360;
  border-radius: 25px;
  font: normal normal bold 14px/20px Gotham;
  letter-spacing: 0.28px;
  text-transform: uppercase;
}
.slider .yellow-button {
  background: #FDF060 0% 0% no-repeat padding-box;
  padding: 10px;
  border-radius: 25px;
  border: none;
  margin: 10px;
  color: #123360;
  font-weight: 800;
}
.slider h1 {
  color:#ffffff;
  font-size: 45px;
}

.slider h6 {
  text-align: left;
  padding:20px;
}

.slider .blue-section h6 {
  text-align: center;
}

.slider .inner-clip {
  position: relative;
  text-align: left;
  bottom: -1px;
  padding: 40px 40px 0px 40px;
  background: #fff;
  -webkit-clip-path: polygon(85% 0, 100% 20%, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(85% 0, 100% 20%, 100% 100%, 0 100%, 0 0);
}

.slider .inner-clip {
  font-size: 7vw;
}
.slider .inside-slide
{
  position:relative;
}

.slider .inner-centered {
  text-align: left;
  padding: 20px;
}
.slider .inner-body {
  overflow: auto;
  background: #fff;
}
.feature-block {
    display: flex;
}
.slider .feature-image {
  width: 15%;
  float: left;
  padding:10px;
}

.slider .feature-item {
  width: 15%;
  float: left;
  letter-spacing: 1.38px;
  text-align: center;
  font-size: 40px;
  padding:10px;
}
.slider .feature-text {
  width: 75%;
  float: left;
  padding:8px;
  font-weight: 500;
  font-size: smaller;
}

.slider .item-1 {
  color: #43A5E6;
}

.slider .item-2 {
  color: #5D73E6;
}
.slider .item-3 {
  color: #724EE6;
}
.slider .item-4 {
  color: #8B1FE6;
}
.slider .padded-block {
  padding-top:10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.slider .blue-section {
  background: #E5F3F8 0% 0% no-repeat padding-box;
  opacity: 1;
  overflow: auto;
  padding:30px;
}
.slider .blue-section .content {
  width:80%;
  margin:auto;
}

.slider .blue-section .content-centered {
  width:80%;
  margin:auto;
}

.slider .blue-section h5 {
  text-align: center;
  font-size: small;
  padding-top: 20px;
  padding-bottom: 20px;
}
.slider .blue-section ul {
  column-gap: 8rem;
  list-style-type: none;
}

.slider .blue-section h4 {
    color: #123360;
    text-align: center;
    font-size: x-large;
}

.slider .blue-section li {
  break-inside: avoid-column;
  margin-bottom: 10px;
  font-size: smaller;
  font-weight: 500;
}

.slider label::after{
  content: '+';
}
.slider input[type=checkbox]:checked + label::after {
    content: '-';
}
.slider .accslide{
  max-height:0px;
  overflow: hidden;
  transition:max-height 0.5s;
  background-color: white;
  transition: all 700ms ease;
}
.slider .accslide p {
  padding:8px;
}

.slider br {
  content:"";
}
.slider [type=checkbox]+label::before {
  content:none;
}

.slider input + label {
  text-align: right;
  padding: 20px;
  font-weight: 600;
  max-width: inherit;
  margin: 0;
  color: white;
}

.slider li#slide1 .inside-slide > input + label {
  background: #43A5E6;
  box-shadow: 0px 0px 6px #00000033;
}

.slider li#slide2 .inside-slide > input + label {
  background: #5D73E6;
  box-shadow: 0px 0px 6px #00000031;
}

.slider li#slide3 .inside-slide > input + label {
  background: #724EE6;
  box-shadow: 0px 0px 6px #00000029;
}

.slider li#slide4 .inside-slide > input + label {
  background: #8B1FE6;
  box-shadow: 0px 0px 6px #00000027;
}

.slider input[type='checkbox']:checked ~ h1 label::before{
  border-left:15px solid transparent;
  border-top:20px solid white;
  margin-top:12px;
  margin-right:10px;
}
.slider input.mobile-checkbox:checked ~ div.accslide{
  max-height:100%;
}

.slider .auto-resizable-iframe {
  max-width: 560px;
  margin: 0px auto;
}

.slider .auto-resizable-iframe > div {
  position: relative;
  padding-bottom: 75%;
  height: 0px;
}

.slider .auto-resizable-iframe iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.slider .feature-videos {
  display: flex;
  overflow-x: auto;
  width: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
}

.slider .feature-video {
  scroll-snap-align: center;
}
.slider iframe {
  max-width: inherit;
  padding:8px;
  border: 0;
}
.slider iframe header {
  display: none;
}
.slider .nsf-form {
  height: 1120px;
  width: 100%;
}

/* custom scrollbar */
.slider ::-webkit-scrollbar {
  width: 20px;
}

.slider ::-webkit-scrollbar-track {
  background-color: transparent;
}

.slider ::-webkit-scrollbar-thumb {
  background-color: #123360;
  border-radius: 20px;
  border: 5px solid transparent;
  background-clip: content-box;
}

.slider ::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.slider .desktop-radio {
  display:none;
}
.slider .mobile-checkbox {
  display:inherit;
}

.slider .altTab {
  display: none;
}

.slider .next-link {
  display: none;
}

.slider .feature-iframe-container {
  width: 300px;
  height: 200px;
}

@media only screen and (min-width: 426px) {
  .slider h3{
    font-size: 35px;
  }

  .slider .inner-clip {
    position: relative;
    text-align: center;
    bottom: -1px;
    padding: 25px 40px 0px 40px;
    background: #fff;
    -webkit-clip-path: polygon(90% 0, 100% 100%, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(90% 0, 100% 100%, 100% 100%, 0 100%, 0 0);
  }

}
@media only screen and (min-width: 769px) {
  #main-content.main-content-headroom {
    margin-top: 0 !important;
  }
  .main-content-headroom .usa-layout-docs-main_content {
    margin-top: 80px !important;
  }
  
  .slider input.desktop-radio:checked ~ div.accslide{
    max-height:100%;
  }

  .linkless .usa-header-basic .usa-logo {
      bottom: inherit;
      position: absolute;
  }
  .slider .desktop-radio {
    display:inherit;
  }
  .slider .mobile-checkbox {
    display:none;
  }
  .slider ul {
    list-style: none;
  }
  .slider input.desktop-radio {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .slider h4 {
    text-align: left;
    font: normal normal bold 35px/49px Gotham;
    letter-spacing: 1.05px;
    color: #141414;
    opacity: 1;
  }
  .slider label.desktop-radio {
    display: block;
    float: left;
    height: calc(100vh - 80px);
    width: 40px;
    padding: 0;
    font-weight: inherit;
    overflow: hidden;
    background: #30354a;
    text-align: center;
    font-size: 14px;
    line-height: 50px;
    transition: background 300ms ease;
  }
  .slider label:hover.desktop-radio {
    transition-duration: 0s;
    background: #2196f3;
    color: #fff;
    cursor: pointer;
  }
  .slider .hollow-button {
    float: left;
    border-radius: 25px;
    border: 2px solid #000;
    padding: 10px;
    padding-left:15px;
    padding-right:15px;
    background: none;
    color: #123360;
    cursor: pointer;
    margin: 10px;
  }
  .slider .yellow-button {
    background: #FDF060 0% 0% no-repeat padding-box;
    padding: 10px;
    border-radius: 25px;
    margin: 10px;
    font: normal normal bold 14px/20px Gotham;
    letter-spacing: 0.28px;
    color: #123360;
    text-transform: uppercase;
  }
  .slider h1 {
    font: normal normal 900 107px/104px Gotham;
    font-size: 4vw;
    letter-spacing: 3.21px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
  }
  .slider h3 {
    text-align: center;
    font: normal normal bold 35px/49px Gotham;
    letter-spacing: 1.05px;
    color: #141414;
    opacity: 1;
  }
  .slider h6 {
    text-align: left;
    font: normal normal bold 18px/26px Gotham;
    letter-spacing: 0.54px;
    color: #141414;
    text-transform: inherit;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .slider .blue-section h4.centered {
    text-align: center;
  }
  .slider .altTab {
    text-align: center;
    height: 50px;
    color:white;
    font-size: 1.2em;
    padding: 10px 0px 9px;
    margin-left: -10px;
  }
  .slider .inner-clip {
    position: relative;
    text-align: center;
    bottom: -1px;
    padding: 25px 40px 0px 40px;
    background: #fff;
    -webkit-clip-path: polygon(90% 0, 100% 100%, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(90% 0, 100% 100%, 100% 100%, 0 100%, 0 0);
  }
  .slider .inner-centered {
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font: normal normal bold 14px/22px Gotham;
    letter-spacing: 0.42px;
    color: #141414;
    opacity: 1;
  }
  .slider .feature-image {
    width: 20%;
    float: left;
  }
  .slider .feature-item {
    width: 20%;
    float: left;
    letter-spacing: 1.38px;
    text-align: center;
    font-size: 40px;
  }
  .slider .feature-videos {
    text-align: left;
    display: block;
    flex-wrap: unset;
  }
  .slider .feature-videos p {
    font-weight: bold;
  }
  .slider .item-1 {
    font-weight: bold;
    color: #43A5E6;
  }
  .slider .item-2 {
    font-weight: bold;
    color: #5D73E6;
  }
  .slider .item-3 {
    font-weight: bold;
    color: #724EE6;
  }
  .slider .item-4 {
    font-weight: bold;
    color: #8B1FE6;
  }
  .slider .feature-text {
    width: 75%;
    float: left;
    padding: 15px;
    font: normal normal bold 14px/22px Gotham;
    letter-spacing: 0.42px;
    color: #141414;
  }
  .slider .padded-block {
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .slider .blue-section {
    background: #E5F3F8 0% 0% no-repeat padding-box;
    opacity: 1;
    overflow: auto;
    text-align: center;
    padding: 40px;
  }
  .slider .blue-section .content {
    width: 80%;
    margin: auto;
    text-align: left;
  }
  .slider .blue-section .content-centered {
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  .slider .blue-section h5 {
    text-align: center;
    font: normal normal bold 18px/26px Gotham;
    letter-spacing: 0.54px;
    color: #141414;
    max-width: 550px;
    margin-left: auto;
    margin-right:auto;
  }
  .slider .blue-section ul {
    column-gap: 8rem;
    padding: 20px;
  }
  .slider .blue-section h4 {
    text-align: left;
    font: normal normal 900 42px/53px Gotham;
    letter-spacing: 1.26px;
    color: #123360;
    text-transform: uppercase;
    opacity: 1;
  }
  .slider .blue-section li {
    break-inside: avoid-column;
    margin-bottom: 10px;
    font-size: small;
    text-align: left;
  }
  .slider [type=radio] + label::after {
    content: none;
  }
  .slider [type=radio] + label::before {
    content: none;
  }
  .slider li#slide1 > input + label {
    background: #43A5E6;
    box-shadow: 0px 0px 6px #00000033;
  }
  .slider li#slide1 .altTab {
    background: #43A5E6;
  }
  .slider .next-link {
    text-align: center;
    padding: 20px;
    text-align: center;
    font: normal normal bold 18px/26px Gotham;
    letter-spacing: 0.54px;
    color: #8B1FE6;
    text-transform: uppercase;
  }
  button.next-button {
    border: 0;
    font-size: 1em;
  }
  .next-link {
    background: #fff;
  }
  .next-arrow {
    width: 12px;
    height: 12px;
    display:inline-block;
    clip-path: polygon(0 0, 0 100%, 100% 50%);
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 50%);
  }
  .slider li#slide1 .next-button {
    color: #43A5E6;
  }
  .slider li#slide1 .next-arrow {
    background-color: #43A5E6;
  }
  .slider li#slide2 > input + label {
    background: #5D73E6;
    box-shadow: 0px 0px 6px #00000031;
  }
  .slider li#slide2 .altTab {
    background: #5D73E6;
  }
  .slider li#slide2 .next-button {
    color: #5D73E6;
  }
  .slider li#slide2 .next-arrow {
    background-color: #5D73E6;
  }
  .slider li#slide3 > input + label {
    background: #724EE6;
    box-shadow: 0px 0px 6px #00000029;
  }
  .slider li#slide3 .altTab {
    background: #724EE6;
  }
  .slider li#slide3 .next-button {
    color: #724EE6;
  }
  .slider li#slide3 .next-arrow {
    background-color: #724EE6;
  }
  .slider li#slide4 > input + label {
    background: #8B1FE6;
    box-shadow: 0px 0px 6px #00000027;
  }
  .slider li#slide4 .altTab {
    background: #8B1FE6;
  }
  .slider li#slide4 .next-button {
    color: #8B1FE6;
  }
  .slider li#slide4 .next-arrow {
    background-color: #8B1FE6;
  }
  .slider li:nth-child(even) > input + label:hover {
    background: #2196f3;
    color: #fff;
    cursor: pointer;
  }
  .slider li:nth-child(1):nth-last-child(2) input[type=radio]:checked ~ .accslide {
    width: calc(100% - 80px);
  }
  .slider li:nth-child(1):nth-last-child(3) input[type=radio]:checked ~ .accslide {
    width: calc(100% - 120px);
  }
  .slider li:nth-child(1):nth-last-child(4) input[type=radio]:checked ~ .accslide {
    width: calc(100% - 160px);
  }
  .slider li:nth-child(1):nth-last-child(5) input[type=radio]:checked ~ .accslide {
    width: calc(100% - 200px);
  }
  .slider li:nth-child(1):nth-last-child(6) input[type=radio]:checked ~ .accslide {
    width: calc(100% - 240px);
  }
  .slider li:nth-child(1):nth-last-child(7) input[type=radio]:checked ~ .accslide {
    width: calc(100% - 280px);
  }
  .slider li:nth-child(1):nth-last-child(8) input[type=radio]:checked ~ .accslide {
    width: calc(100% - 320px);
  }
  .slider li:nth-child(2):nth-last-child(1) input[type=radio]:checked ~ .accslide {
    width: calc(100% - 80px);
  }
  .slider li:nth-child(2):nth-last-child(2) input[type=radio]:checked ~ .accslide {
    width: calc(100% - 120px);
  }
  .slider li:nth-child(2):nth-last-child(3) input[type=radio]:checked ~ .accslide {
    width: calc(100% - 160px);
  }
  .slider li:nth-child(2):nth-last-child(4) input[type=radio]:checked ~ .accslide {
    width: calc(100% - 200px);
  }
  .slider li:nth-child(2):nth-last-child(5) input[type=radio]:checked ~ .accslide {
    width: calc(100% - 240px);
  }
  .slider li:nth-child(2):nth-last-child(6) input[type=radio]:checked ~ .accslide {
    width: calc(100% - 280px);
  }
  .slider li:nth-child(2):nth-last-child(7) input[type=radio]:checked ~ .accslide {
    width: calc(100% - 320px);
  }
  .slider li:nth-child(3):nth-last-child(1) input[type=radio]:checked ~ .accslide {
    width: calc(100% - 120px);
  }
  .slider li:nth-child(3):nth-last-child(2) input[type=radio]:checked ~ .accslide {
    width: calc(100% - 160px);
  }
  .slider li:nth-child(3):nth-last-child(3) input[type=radio]:checked ~ .accslide {
    width: calc(100% - 200px);
  }
  .slider li:nth-child(3):nth-last-child(4) input[type=radio]:checked ~ .accslide {
    width: calc(100% - 240px);
  }
  .slider li:nth-child(3):nth-last-child(5) input[type=radio]:checked ~ .accslide {
    width: calc(100% - 280px);
  }
  .slider li:nth-child(3):nth-last-child(6) input[type=radio]:checked ~ .accslide {
    width: calc(100% - 320px);
  }
  .slider li:nth-child(4):nth-last-child(1) input[type=radio]:checked ~ .accslide {
    width: calc(100% - 160px);
  }
  .slider li:nth-child(4):nth-last-child(2) input[type=radio]:checked ~ .accslide {
    width: calc(100% - 200px);
  }
  .slider li:nth-child(4):nth-last-child(3) input[type=radio]:checked ~ .accslide {
    width: calc(100% - 240px);
  }
  .slider li:nth-child(4):nth-last-child(4) input[type=radio]:checked ~ .accslide {
    width: calc(100% - 280px);
  }
  .slider li:nth-child(4):nth-last-child(5) input[type=radio]:checked ~ .accslide {
    width: calc(100% - 320px);
  }
  .slider li:nth-child(5):nth-last-child(1) input[type=radio]:checked ~ .accslide {
    width: calc(100% - 200px);
  }
  .slider li:nth-child(5):nth-last-child(2) input[type=radio]:checked ~ .accslide {
    width: calc(100% - 240px);
  }
  .slider li:nth-child(5):nth-last-child(3) input[type=radio]:checked ~ .accslide {
    width: calc(100% - 280px);
  }
  .slider li:nth-child(5):nth-last-child(4) input[type=radio]:checked ~ .accslide {
    width: calc(100% - 320px);
  }
  .slider li:nth-child(6):nth-last-child(1) input[type=radio]:checked ~ .accslide {
    width: calc(100% - 240px);
  }
  .slider li:nth-child(6):nth-last-child(2) input[type=radio]:checked ~ .accslide {
    width: calc(100% - 280px);
  }
  .slider li:nth-child(6):nth-last-child(3) input[type=radio]:checked ~ .accslide {
    width: calc(100% - 320px);
  }
  .slider li:nth-child(7):nth-last-child(1) input[type=radio]:checked ~ .accslide {
    width: calc(100% - 280px);
  }
  .slider li:nth-child(7):nth-last-child(2) input[type=radio]:checked ~ .accslide {
    width: calc(100% - 320px);
  }
  .slider li:nth-child(8):nth-last-child(1) input[type=radio]:checked ~ .accslide {
    width: calc(100% - 320px);
  }
  .slider input[type=radio]:checked ~ label {
    background: #2196f3;
    color: #fff;
    cursor: default !important;
  }
  .slider input[type=radio]:checked ~ label > * {
    display: none;
  }
  .slider input[type=radio]:not(:checked) ~ label > * {
    padding-left: 7px;
    font-size: 1.2em;
    white-space: nowrap;
    transform: rotate(90deg);
    color: white;
    padding: 20px;
    text-transform: uppercase;
  }
  .slider .image-margin {
    height: 400px;
    padding-top: 21vw;
    padding-bottom: 250px;
    padding-left: 50px;
  }
  .slider .innerScroll {
    height: calc(100vh - 50px);
    overflow-y: scroll;
    overflow-y: overlay;
    background-size: 100%;
    background-repeat: no-repeat;
    scrollbar-width: thin;
    scrollbar-color: #123360 aliceblue;
  }
  .slider .innerScroll { height: calc(100vh - 130px); }

  .slider::-webkit-scrollbar {
    width: 20px;
  }
  .slider::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .slider::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 5px solid transparent;
    background-clip: content-box;
  }
  .slider .list-content {
    columns: 2;
  }

  .slider .list-content li {
    list-style-type: disc;
  }
  .slider .foot {
    padding: 20px;
    display: inline-block;
  }
  .slider .accslide {
    display: block;
    height: 100%;
    width: 0px;
    float: left;
    overflow-x: hidden;
    font-sizes: 12px;
    line-height: 1.5;
    transition: all 700ms ease;
  }
  .slider .accslide img {
    margin-top: 10px;
  }

  .slider .altTab {
    display: block;
  }

  .slider .next-link {
    display: block;
  }
  .slider h4{
    padding:0;
  }
  .slider .blue-section h6 {
      text-align: left;
  }
  .slider .feature-iframe-container {
    width: 100%;
    height: 285px;
  }
  .usa-footer-secondary_section .usa-footer-return-to-top {
    padding-top: 640px;
  }
  .slider .nsf-form {
    height: 1020px;
    width: 100%;
  }

}

@media only screen and (min-width: 1201px) {
  .slider .image-margin {
    height: 400px;
    padding-top: 300px;
  }
  .slider h1 {
    font-size: 100px;
  }
}