<div class="usa-banner">
  <div class="usa-accordion">
    <header class="usa-banner-header">
      <div class="usa-grid usa-banner-inner flex flex-center flex-column">
        
        <p class="banner-left"><img src="{{ site.baseurl }}/assets/uswds/img/favicons/favicon-57.png" alt="U.S. flag">
        An official website of the United States government.</p>
      </div>
     
    </header>
  </div>
</div>
<div class="usa-banner" style="background-color:#fff039; text-align:center;padding:3px;">
  
      <div class="usa-grid usa-banner-inner flex flex-center flex-column">
        
        <p class="banner-left" style="font-weight:bold;font-size:14px;">NSF staff is working virtually and continues to review Project Pitches in all areas of technology. Send us your good ideas today!</p>
      </div>

</div>
