---
layout: base
title: Award History
scripts: /assets/js/datatables.min.js /assets/js/dataTablesConfig.js /assets/js/awards-history.js /assets/js/popper.min.js /assets/js/tippy-bundle.umd.min.js /assets/js/dateFormatter.js
css: /assets/css/datatables.min.css
permalink: /awardees/history/
---
{% assign years = "" | split: '' %}
{% for award in site.data.awards_history %}
  {% assign year = award.AwardDate | split: '-' | first %}
  {% assign years = years | push: year %}
{% endfor %}
{% assign years = years | uniq | sort | reverse %}
{% assign current_year = site.time | date: "%Y" %}
{% assign states = site.data.awards_history | map: 'StateCode' | uniq | sort %}

<div class="usa-section usa-content usa-grid">
  <h1>Award History</h1>
  <p>View awardees by award year.</p>

  {% include loading.html msg='Loading awards...' %}

  <div class="awards-history-container">
    <ul class="awards-history-year-filters">
      <li><button type="button" class="active">All</button></li>
      {% for award_year in years %}<li><button type="button">{{ award_year }}</button></li>
      {% endfor %}
    </ul>

    <div class="awards-history-grid-container">
      <div class="awards-history-grid-filters">
        <h3>Filters</h3>
        <button class="clear-filters-btn">Clear All</button>
        <h4>Phase</h4>
        <div class="filter">
          <input type="checkbox" id="phase1" name="phase1" value="phase1">
          <label for="phase1">Phase I</label>
        </div>
        <div class="filter">
          <input type="checkbox" id="phase2" name="phase2" value="phase2">
          <label for="phase2">Phase II</label>
        </div>
        <h4>Location</h4>
        <div class="state-list">
          {% for state_abbr in states %}
          <div class="filter" data-state="{{ state_abbr }}">
            <input type="checkbox" id="state_{{ state_abbr }}" name="state_{{ state_abbr }}" value="{{ state_abbr }}" title="{{ site.data.states[ state_abbr ] }}">
            <label for="state_{{ state_abbr }}">{{ state_abbr }}</label>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="awards-history-grid-view">
        <button id="list-view" class="active">List View</button> |
        <button id="group-view">Group by Awardee</button>
      </div>
      <div class="dataTable-seedfund">
        <table id="awards_history" class="display dataTable" width="100%"></table>
      </div>
    </div>

    <div id="awards-history-search-help">
      <button class="close-tooltip" onClick="closeHistorySearchTooltip()">X</button>
      <ul>
        <li>Minimum 2 characters are required.</li>
        <li>Search is case-insensitive.</li>
        <li>Search any part of the word, beginning, ending, or character(s) in the middle of the word.  For example:
          <ul>
            <li>To find "Nanofiber",
              search for <strong>Nano</strong> or <strong>ber</strong> or <strong>nofi</strong>.</li>
          </ul>
        </li>
        <li>Separate multiple search terms with at least one space.  Results are found if each term
          matches some part of a word.  For example:
          <ul>
            <li>Searching for <strong>diese</strong>, <strong>haust</strong>, <strong>sel exha</strong> or
              <strong>exha sel</strong> will all yield results where "Diesel" is followed by "Exhaust"
              or vice-versa.</li>
            <li>Searching for <strong>Diesel Exhaust not_here_at_all</strong> fails if
              "Diesel" and "Exhaust" exist but "not_here_at_all" is missing.</li>
          </ul>
        </li>
        <li>Exact searches should be <span class="emphasized">surrounded by double quotes</span>.
          For example, to find "Prosthetic Knee" precisely, search for <strong>"Prosthetic Knee"</strong>
          or <strong>"prosthetic knee"</strong>.  On the other hand:
          <ul>
            <li><strong>"Knee Prosthetic"</strong> fails because "Prosthetic" appears first.</li>
            <li><strong>"Prosthetic&nbsp;&nbsp;&nbsp;Knee"</strong> fails because there
              is only one space between "Prosthetic" and "Knee"</li>
          </ul>
        </li>
        <li>Search results are returned as you type.</li>
      </ul>
      <p>The search results will return a list of Awards. Click on a company name to see more details.</p>
    </div>

  </div>
</div>
