---
layout: base
class: for-applicants-layout
---

<div class="usa-grid">
  <div class="usa-width-two-thirds">
    <div class="usa-section usa-content">
      {{ content }}
    </div>
  </div>
  
  <aside class="usa-width-one-third">
   <div class="usa-section">
   <img src="{{ site.baseurl }}/assets/img/showcase/Elidah Quote Image.png" alt="Elidah Quote" style="margin:2%;">
   <img src="{{ site.baseurl }}/assets/img/showcase/Bay Labs Quote Image.png" alt="Bay Labs Quote" style="margin:2%;;">
   <img src="{{ site.baseurl }}/assets/img/showcase/Branch Technology Quote Image.png" alt="Branch Technology Quote" style="margin:2%;">
   <img src="{{ site.baseurl }}/assets/img/showcase/Artaic Quote Image.png" alt="Artaic Quote" style="margin:2%;">
   <img src="{{ site.baseurl }}/assets/img/showcase/Omnity Quote Image.png" alt="Omnity Quote" style="margin:2%;">
  <img src="{{ site.baseurl }}/assets/img/showcase/Spheryx Quote.png" alt="Spheryx Quote" style="margin:2%;">
  <img src="{{ site.baseurl }}/assets/img/showcase/TAO Connect Quote Image.png" alt="TAO Connect Quote" style="margin:2%;">
  <img src="{{ site.baseurl }}/assets/img/showcase/ThousandEyes Quote Image.png" alt="ThousandEyes Quote" style="margin:2%;">
  <img src="{{ site.baseurl }}/assets/img/showcase/Tinkercast Quote Image.png" alt="Tinkercast Quote" style="margin:2%;">
  <img src="{{ site.baseurl }}/assets/img/showcase/posed2 Quote Image.png" alt="posed2 Quote" style="margin:2%;">
  <img src="{{ site.baseurl }}/assets/img/showcase/Keystone Tower Systems Quote.png" alt="Keystone Tower Systems Quote" style="margin:2%;">
  <img src="{{ site.baseurl }}/assets/img/showcase/Killer Snails Quote Image.png" alt="Killer Snails Quote" style="margin:2%;">
   </div>
  </aside>

</div>
